<!DOCTYPE html>
<html>
<head>
	<title>海派服飾名店 - 正式西服</title>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/views.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class = "container">
  <a class="navbar-brand" href="./">海派服飾設計</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/tailoredsuits">正式西服</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/students">學生制服</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/policeandmilitary">軍警制服</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/uniforms">團體制服</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/process">訂製流程</a>
      </li>
      <li class="nav-item">
          <a class="nav-link" href="/info">門市資訊</a>
      </li>
    </ul>
  </div>
  </div>
</nav>