<% include ./partials/viewheader%>
<section id="gallery">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 mt-4 mb-4">
              <div class="card">
              <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1523456836369-09236da4c580?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=53cc4f226299278d0ef25747b28fd8a8&auto=format&fit=crop&w=800&q=60" alt="">
                  <div class="card-body">
                      <h5 class="card-title">1. FIRST STEP 面料選擇</h5>
                      <hr>
                      <p class="card-text">來到位於台北市萬華區峨嵋街1號位置的海派門市，親自挑選適合自己的面料，不論要素的花的黑的白的彩色的，門市都有各式布料樣品可供參考選擇。

                      </p>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mt-4 mb-4">
                  <div class="card">
                  <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1533025826644-97a5f7f5c85c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b10ecc273940f11b30f33ad4fc2eee84&auto=format&fit=crop&w=800&q=60" alt="">
                      <div class="card-body">
                          <h5 class="card-title">2. SECOND STEP 量身 / 版型討論</h5>
                          <hr>
                          <p class="card-text">海派師傅擁有多年經驗，專業的一邊量身一邊與您討論版型，對於不同場合用途的訂製服適當給予專業意見，誠信經營的老字號招牌，絕不過度推銷。</p>
                      </div>
                  </div>
          </div>
          <div class="col-lg-6 mt-4 mb-4">
                  <div class="card">
                  <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1497997092403-f091fcf5b6c4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7eb8857daf403cf2549f512fdd9ac666&auto=format&fit=crop&w=800&q=60" alt="">
                      <div class="card-body">
                          <h5 class="card-title">3. THIRD STEP 等待製作</h5>
                          <hr>
                          <p class="card-text">由專業的師傅們按照量身尺寸，用心謹慎製作每一件訂製服，經過裁剪、縫製、檢查成品、燙熨等多項步驟，我們堅持讓顧客用最合理的價格獲得高規格服務。</p>
                      </div>
                  </div>
          </div>
          <div class="col-lg-6 mt-4 mb-4">
            <div class="card">
            <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1494281258937-45f28753affd?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e8fc7fb96c5c5ed1dfd5534a7b8bb66e&auto=format&fit=crop&w=800&q=60" alt="">
                <div class="card-body">
                    <h5 class="card-title">4. FINAL STEP 成品完成</h5>
                    <hr>
                    <p class="card-text">收到海派小幫手發送的取貨通知簡訊後，便可到店領取期待的訂製服，還能現場挑選適合的配件，當然售後服務也不用擔心，完成品在試穿後全新狀況下都能夠些微修改。</p>
                </div>
            </div>
          </div>
      </div>
  </div>
</section>
<% include ./partials/viewfooter%>