<% include ./partials/viewheader%>

<div class="container2">
  <div class = "image1">
  <img src="https://images.unsplash.com/photo-1494280257169-55829fedd76e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d5d97ef72540cf26a7dd512ec37fdf2d&auto=format&fit=crop&w=2100&q=80">
  </div>
  <p>
    襯衫、西褲、西裝外套、西裝背心均可提供量身訂製，專業套量身形以及穿著建議。<br>
    一套西服$3000~$8000 材質隨著預算不同擁有多項選擇無論您是小資族還是百貨專櫃族，都能
    在海派找到一套最合適的西裝！
  </p>
</div>
<% include ./partials/footer%>
