<% include ./partials/viewheader%>

<section id="gallery">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 mt-4 mb-4">
              <div class="card">
              <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1519743670471-034311358429?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ac22ac78d71cbb98306749000edf935b&auto=format&fit=crop&w=900&q=60" alt="">
                  <div class="card-body">
                      <h5 class="card-title">海派：正裝時代</h5>
                      <p class="card-text">西裝從17世紀發跡，當代的西裝是從20世紀初開始出現，並且在全球各地菁英階層流行，之後普及到社會大眾，甚至不分性別，女生也開始穿著西裝。
                        Valerie Steele：" 西裝之所以能夠歷久不衰是因為它詮釋了現代性，現代、有效率，有人說這是一種功能性服裝，我倒是認為，它詮釋了現代性、功能主義和身份等多重因素 "。<br>
                        海派提供各式正裝量身定制服務，不論襯衫、西服、西褲、西裝背心、西裝裙子。</p>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mt-4 mb-4">
                  <div class="card">
                  <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1525623255291-a98dff113546?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=790ffd61460cc5fddb7700f137c05bef&auto=format&fit=crop&w=900&q=60" alt="">
                      <div class="card-body">
                          <h5 class="card-title">女士西服</h5>
                          <p class="card-text">海派提供的女生訂製正裝品項包含：西裝、襯衫、西裝長褲、西裝背心、正式窄裙，可以自由搭配。<br>西裝早已不是男生的專利，在最近的影展或是頒獎典禮中，可以發現越來越多國內外女星都會穿著西裝出席，
                            西裝比起華麗的禮服長裙或是俏麗的短裙，更增添了俐落專業的味道。來海派訂製一套合身的正裝吧！不管是專題報告、上班或是出席活動，女孩們也能輕鬆駕馭西裝，展現出優雅與帥氣兼具的風格魅力。<br></p>
                      </div>
                  </div>
          </div>
          <div class="col-lg-4 mt-4 mb-4">
                  <div class="card">
                  <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1497339100210-9e87df79c218?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=deb85808f71039e3e039fdb18ba26019&auto=format&fit=crop&w=900&q=60" alt="">
                      <div class="card-body">
                          <h5 class="card-title">男士西服</h5>
                          <p class="card-text">海派提供的男士訂製正裝品項包含：西裝、襯衫、西裝長褲、西裝背心，可以自由選擇搭配。<br>紳士風格一直是百年不退的流行，與其說是一種流行，紳士風代表的是種態度更是一種精神，隨著近幾年復古風潮吹起，又增加了許多重視正裝穿著的質感男士。<br>
                                                隨著預算可以選擇不同布料材質，在海派讓專業師傅量身定制絕對能感受到最高的CP值，不論是社團表演、專題報告、求職工作、參加典禮都需要專業帥氣登場。</p>
                      </div>
                  </div>
          </div>
          <div class="col-lg-4 mt-4 mb-4">
            <div class="card">
            <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1523211737006-e54a3c7299ab?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=5e227ec4975b84e2221980577770b5ab&auto=format&fit=crop&w=900&q=60" alt="">
                <div class="card-body">
                    <h5 class="card-title">正裝配件</h5>
                    <p class="card-text">除了西服訂製以外，海派門市也有提供多款領帶、領結讓顧客方便選購。價格實惠，又能現場提供專業建議。<br>
                                        一般商務需求之正裝領帶搭配，為了呈現穩重以及專業形象，建議選擇素色或條文領帶，根據不同的工作產業，在配色上可以有不同選擇。<br>
                                        歡迎到店參考實際款式，為不同顏色的西裝襯衫挑選一條最適合的領帶。</p>
                </div>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mb-4">
            <div class="card">
            <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=2f2507356905735cb7d15583034c7faa&auto=format&fit=crop&w=900&q=60" alt="">
                <div class="card-body">
                    <h5 class="card-title">西服色系推薦</h5>
                    <p class="card-text">黑色：<br>
                                        黑色沈穩正式專業，不論面試或晚宴，黑色最不容易在正式場合出錯。<br>
                                        深灰色：<br>
                                        比起黑色西裝，深灰色西裝更多了一些搭配感，可以試著在領帶顏色上做不同搭配，增添正裝穿搭樂趣。<br>
                                        深海軍藍色：<br>
                                        深藍色系給人比較多容易親近和令人信賴的感覺。
                                        </p>
                </div>
            </div>
          </div>
          <div class="col-lg-4 mt-4 mb-4">
            <div class="card">
            <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1494280257169-55829fedd76e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d5d97ef72540cf26a7dd512ec37fdf2d&auto=format&fit=crop&w=900&q=60" alt="">
                <div class="card-body">
                    <h5 class="card-title">海派：訂製大哉問</h5>
                    <ul class="card-text">
                      <li>所有品項皆為量身定制</li>
                      <li>整套西服(外套+西裝長褲)價格$3000起</li>
                      <li>價格合理公道，貨真價實</li>
                      <li>訂製西裝比起成衣更加客製化，穿起來更為合身挺拔</li>
                      <li>各種品項均有不同材質布料顏色可以選擇</li>
                      <li>完整售後服務：製作完成回去試穿後如需些微調整，皆可協助修改</li>
                    </ul>
                </div>
            </div>
          </div>

      </div>
  </div>
</section>

<% include ./partials/viewfooter%>
