<% include ./partials/viewheader%>
<div class="container2">
  <div class = "image1">
  <img src="images/military.jpg"/>
  </div>
  <div class="container mt-2">
    <h5>選擇海派的理由：</h5>
    <ul>
      <li>軍警制服專業量身</li>
      <li>價格公道，CP值高</li>
      <li>天天要穿的制服，值得好的版型好的布料</li>
    </ul>
    <h5>訂製注意事項：</h5>
    <ul>
      <li>所有品項皆為量身定制</li>
      <li>如有自備臂章，可以幫忙縫上</li>
    </ul>
  </div>
</div>
<%include ./partials/viewfooter%>