<% include ./partials/viewheader%>
<section id="gallery">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 mt-4 mb-4">
              <div class="card">
              <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1519120126473-8be7aedcd6c6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="">
                  <div class="card-body">
                      <h5 class="card-title">海派團體制服訂製：</h5>
                      <hr>
                      <ul class="card-text">
                          <li>價格公道，CP值高</li>
                          <li>客製化團體制服，不論表演場合或是工作場合中都能展現出最專業的一面</li>
                          <li>各品項皆為量身定制</li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="col-lg-6 mt-4 mb-4">
                  <div class="card">
                  <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1519682886610-a78e3d518e1b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e3ca8645b4abd44d4f3caee71e425340&auto=format&fit=crop&w=800&q=60" alt="">
                      <div class="card-body">
                          <h5 class="card-title">海派團體制服客製案例：</h5>
                          <hr>
                          <ul class="card-text">
                          <li>各大專院校大學報告競賽面試套裝</li>
                          <li>各大管弦樂團表演服</li>
                          <li>合唱團表演服</li>
                          <li>社團競賽用或表演用訂製服裝</li>
                          </ul>
                      </div>
                  </div>
          </div>
          <div class="col-lg-6 mt-4 mb-4">
                  <div class="card">
                  <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1512061942530-e6a4e9a5cf27?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="">
                      <div class="card-body">
                          <h5 class="card-title">海派團體制服客製案例：</h5>
                          <hr>
                          <ul class="card-text">
                          <li>餐飲服務業制服</li>
                          <li>百貨服務業制服</li>
                          <li>公司行號團體服</li>
                          </ul>
                      </div>
                  </div>
          </div>
          <div class="col-lg-6 mt-4 mb-4">
            <div class="card">
            <img class="card-img-top img-fluid" src="https://images.unsplash.com/photo-1490043312819-28207692b051?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="">
                <div class="card-body">
                    <h5 class="card-title">海派團體制服客製案例：</h5>
                    <hr>
                    <ul class="card-text">
                          <li>機師制服</li>
                          <li>空服員面試服</li>
                          <li>工作夾克</li>
                          <li>醫師袍</li>
                </div>
            </div>
          </div>
      </div>
  </div>
</section>
<% include ./partials/viewfooter%>